:root{
    --board-background: #DECA17;
    --number-background: #225A79;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{font-size: 62.5%;}

main {
    font-size: 1.6rem;
    display: grid;
    /* grid-template-rows: repeat(2, 35%); */
    justify-items: center;
    align-content: center;
    margin: 0 auto;
    min-height: 100vh;
    
}
section {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;

}
table {
    margin-top: 10px;
    background-color: var(--board-background);
}

td {
    color: #d2d2d2;
    background-color: var(--number-background);
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 30px;
}

td:hover { 
    background-color: #42a8df;
}

section.initial div.table {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3,60px);
    gap: 2px;
    margin:2px;
    border: 1px solid black;
    text-align: center;
    line-height: 60px;
    background-color: var(--board-background);
}

div.table *{
    width: 60px;
    background-color: var(--number-background);
}

button {
    background-color: #225A79;
    color: #DECA17;
    text-align: center;
    padding: 4px;
    border-radius: 50%;
    width: 150px;
}